<a href="https://colab.research.google.com/github/vinaykumargummadi/DSML/blob/main/CineSense/notebooks/data_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import re

import warnings
warnings.filterwarnings('ignore')

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
file_path = "https://docs.google.com/spreadsheets/d/1Cc1S6Uish_ij8aSUQu0OG176ZLOQ5BfVDr6tBd2jdzA/export?format=csv#gid=1889275676"
df=pd.read_csv(file_path)

In [6]:
df.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB

In [8]:
(df.isnull().sum()/len(df))*100

rotten_tomatoes_link                 0.000000
movie_title                          0.000000
movie_info                           1.812331
critics_consensus                   48.430443
content_rating                       0.000000
genres                               0.107272
directors                            1.095303
authors                              8.705962
actors                               1.987353
original_release_date                6.583107
streaming_release_date               2.168022
runtime                              1.772809
production_company                   2.817299
tomatometer_status                   0.248419
tomatometer_rating                   0.248419
tomatometer_count                    0.248419
audience_status                      2.529359
audience_rating                      1.671183
audience_count                       1.676829
tomatometer_top_critics_count        0.000000
tomatometer_fresh_critics_count      0.000000
tomatometer_rotten_critics_count     0.000000
dtype: float64

In [9]:
df.shape

(17712, 22)

In [10]:
df[['movie_title','movie_info']].sample(1).values

array([['Lost in Paris (Paris pieds nus)',
        "Fiona is a Canadian librarian who flies to Paris and discovers that her 88-year-old aunt is missing. As Fiona scours the city looking for her, she encounters Dom, a friendly but annoying tramp who won't leave her alone."]],
      dtype=object)

**Treat Missing Values**  
Since the feature `critics_consensus` is haivng **48%** of missing values. We choose to omit them from further processsing.

In [11]:
df=df.drop('critics_consensus',axis=1)
df.columns

Index(['rotten_tomatoes_link', 'movie_title', 'movie_info', 'content_rating',
       'genres', 'directors', 'authors', 'actors', 'original_release_date',
       'streaming_release_date', 'runtime', 'production_company',
       'tomatometer_status', 'tomatometer_rating', 'tomatometer_count',
       'audience_status', 'audience_rating', 'audience_count',
       'tomatometer_top_critics_count', 'tomatometer_fresh_critics_count',
       'tomatometer_rotten_critics_count'],
      dtype='object')

In [12]:
df.head()

,rotten_tomatoes_link,movie_title,movie_info,content_rating,genres,directors,authors,actors,original_release_date,streaming_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,2015-11-25,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,2012-09-04,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,2014-07-24,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,2017-01-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,2016-06-10,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [13]:
df.content_rating.unique()

array(['PG', 'R', 'NR', 'G', 'PG-13', 'NC17'], dtype=object)

In [14]:
content_rating_dict={
    "PG":"Content that parents may want to know about",
    "NR":"Not Rated",
    "G":"Suitable for all ages",
    "PG-13":"Inappropriate for childeren under 13",
    "NC17":"Prohibited for under 18s"

}

**Data Preprocessing**

In [53]:
import re
from string import punctuation
import spacy
import nltk

from nltk.stem import PorterStemmer
stemmer_obj = PorterStemmer()

from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
nlp=spacy.load('en_core_web_sm')

In [54]:
punctuation += '--'
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~--'

In [16]:
stop_words = stopwords.words('english')
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [77]:
def pre_process_text(text):
  regex_cast = r"\((.*?)\)"
  cast_removed = re.sub(regex_cast, '', text, 0, re.MULTILINE)
  doc = nlp(cast_removed)
  punct_stop_removed= " ".join([word.text.lower()  for word in doc if word.text.lower() not in punctuation if word.text.lower() not in stop_words])
  word_stem = " ".join([stemmer_obj.stem(word.text) for word in nlp(punct_stop_removed)])
  final_text = re.sub(r'\s+', ' ', word_stem)

  return final_text

In [85]:
test_sample=df.movie_info.sample(1).values[0]
processed_text = pre_process_text(test_sample)
print(test_sample,'\n',processed_text)

Banished Hercules (Arnold Schwarzenegger) catches an escaped bear, cruises Broadway and wrestles professionally.
 banish hercul catch escap bear cruis broadway wrestl profession

In [86]:
df.shape

(17712, 21)

In [24]:
def get_years(text):
  user_years=dict()
  early_match = re.search(r"early (\d{4})", text)
  late_match = re.search(r"late (\d{4})", text)
  between_match = re.search(r"between (\d{4}) and (\d{4})", text)

  early_year = early_match.group(1) if early_match else None
  late_year = late_match.group(1) if late_match else None
  between_start_year = between_match.group(1) if between_match else None
  between_end_year = between_match.group(2) if between_match else None

  user_years ={
      'early_year':int(early_year),
      'late_year':int(late_year),
      'between_start_year':int(between_start_year),
      'between_end_year':int(between_end_year)
  }
  return user_years

In [25]:
get_years("I watched a movie in the early 2000s and it was again released in late 2010s but the movie between 1990 and 2000s are gold")

{'early_year': 2000,
 'late_year': 2010,
 'between_start_year': 1990,
 'between_end_year': 2000}

In [2]:


text = "early 2000s and late 1900s and in between 2010 and 2012"

early_match = re.search(r"early (\d{4})", text)
late_match = re.search(r"late (\d{4})", text)
between_match = re.search(r"between (\d{4}) and (\d{4})", text)

early_year = early_match.group(1) if early_match else None
late_year = late_match.group(1) if late_match else None
between_start_year = between_match.group(1) if between_match else None
between_end_year = between_match.group(2) if between_match else None

print("Early:", early_year)
print("Late:", late_year)
print("Between:", between_start_year, "and", between_end_year)

Early: 2000
Late: 1900
Between: 2010 and 2012

In [33]:
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [26]:
prompts = [
    "I recently watched a heartwarming romantic comedy set in a small town. The main characters, played by Sandra Bullock, Ryan Reynolds, and Betty White, navigate a fake engagement that turns into real love. It was released in 2009 and has a runtime of 108 minutes.",
    "If you're into action-packed movies, you should check out a film with breathtaking action sequences directed by George Miller. It has received widespread acclaim for its adrenaline-fueled chase scenes and stunning visual effects. I highly recommend it!",
    "I just saw a gripping thriller with unexpected twists and turns. The plot revolves around the disappearance of a woman named Amy Dunne, played by Rosamund Pike. It features a stellar cast including Ben Affleck and Neil Patrick Harris.",
    "For fans of visually stunning movies, there's a must-watch film directed by James Cameron. It transports you to the fantastical world of Pandora, filled with mesmerizing landscapes and groundbreaking CGI effects. It's perfect for fans of science fiction and adventure films.",
    "If you're looking for a thought-provoking drama, there's a classic choice that explores themes of hope, friendship, and redemption within the confines of Shawshank State Penitentiary. Featuring powerful performances by Tim Robbins and Morgan Freeman, it's considered one of the greatest films of all time."
]

In [27]:
user_prompts = pd.DataFrame({"Prompt": prompts})
user_prompts

                                              Prompt
0  I recently watched a heartwarming romantic com...
1  If you're into action-packed movies, you shoul...
2  I just saw a gripping thriller with unexpected...
3  For fans of visually stunning movies, there's ...
4  If you're looking for a thought-provoking dram...